services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-root}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-mydb}
      MYSQL_USER: ${MYSQL_USER:-user}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-user}
    ports:
      - "${MYSQL_PORT:-3306}:3306"
    volumes:
      # 数据持久化
      - mysql_data:/var/lib/mysql
      # 初始化脚本（首次启动自动执行）
      - ./sql:/docker-entrypoint-initdb.d
  redis:
    image: redis:7-alpine
    container_name: tyz-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    # 如果你不想要密码：把下面 command 改成 ["redis-server", "--appendonly", "yes"]
    command: ["redis-server", "--appendonly", "yes", "--requirepass", "123456"]
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "123456", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10
  namesrv:
    image: apache/rocketmq:5.3.2
    container_name: rmqnamesrv
    ports:
      - 9876:9876
    networks:
      - rocketmq
    command: sh mqnamesrv
  broker:
    image: apache/rocketmq:5.3.2
    container_name: rmqbroker
    ports:
      - 10909:10909
      - 10911:10911
      - 10912:10912
    environment:
      - NAMESRV_ADDR=rmqnamesrv:9876
    depends_on:
      - namesrv
    networks:
      - rocketmq
    command: sh mqbroker
networks:
  rocketmq:
    driver: bridge

volumes:
  redis_data:
  mysql_data: