server:
  port: 8081
spring:
  data:
    redis:
      database: 0
      host: localhost
      port: 6379
      password: 123456
id:
  snowflake:
    datacenter-id: 0
    worker-id: 0
rocketmq:
  name-server: localhost:9876
  producer:
    send-message-timeout: 3000
    group: tyz-producer
